/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* reset */


body {
    font-family:"Open Sans";
    color:#666;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

p.white {
  color:#fff;
}

/* typografie */

.center {
  text-align: center;
}

a {
  color:#444;
  text-decoration: none;
}

h1 {
    font-size:35px;
    font-weight:bold;
    padding:25px 10px 15px 0;
    color:#444;
}

h1.white {
	color:#fff;
}

h1.smaller {
    font-size:30px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h2 {
    font-size:30px;
    font-weight:bold;
    padding:25px 10px 15px 0;
    color:#444;
}

h2.thin {
    font-size:25px;
    padding:10px 10px 10px 0;
    font-weight:500;
    color:#444;
    font-family: "Open Sans";
}

h2.thinWhite {
    font-size:25px;
    padding:10px 10px 0px 0;
    font-weight:500;
    color:#fff;
    font-family: "Open Sans";
}

h3 {
    font-size:25px;
    font-weight:bold;
    padding:10px 10px 10px 0;
    color:#444;
}

h3.thin {
    font-size:17px;
    font-family: "Open Sans";
    font-weight:300;
    color:#444;
}

.siteInfo h2 .fa {
    margin-right: 10px;
}

.siteInfoLast h2 .fa {
    margin-right: 10px;
}



/* knoppen */

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #fff;
    color: #444;
}

.button2 {
    background-color: #fff; 
    color: #444; 
    border: 2px solid #4CAF50;
}

.button2:hover {
    background-color: #4CAF50;
    color: #fff;
}

/*knoppen tot hier */


.fullWidth {
  width: 100%;
}

#container {
	width:90%;
	margin: 0 auto;
}

/* micro-clearfix */
#container:after {
  content:"";
  display:block;
  clear:both;
}

header {
	background-color:#167F39;
}

#headerImg {
  background-image: url('../img/bg-image1.png');
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  height:400px;
}

.img-top {
	display:inline-block;
}

header h1 {
	display:inline-block;
  padding-left:10px;
}

#welcomeText {
    color:#fff;
    position:absolute;
    left:;
    top:300px;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

/* navigatie */

/*----- Toggle Button -----*/
.menu .toggle-nav {
    display: none;
}

#navigation {
  background-color:#044c29;
}

.menu {
	background:#044C29;
}

.menu ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  color: #333;
  overflow: hidden; 
}

.menu li {
  display:inline-block;
}
.menu a {
  display: block;
  color:#fff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
.menu a:hover {
	color: #fff;
}


/* section introduction */
#introduction {
  padding-top:50px;
  padding-bottom:50px;
  background-color:#fff;
}

.siteInfo {
  float:left;
  width:30.3333333%;
  margin-right:3%;
}

.siteInfoLast {
  float:left;
  width:30.3333333%;
}

/* camperVan */
.camperVan {
  padding-top:50px;
  padding-bottom:50px;
  background-color:#FFDE8D;
}

.camperInfo {
  float:left;
  width:60%;
  padding-right:5%;
}

.camperImg {
  float:left;
  width:35%;
}

button {
  border:none;
  background-color: #167F39;
  margin-top: 20px;
  padding: 20px 10px;
  transition: all 0.25s ease 0s;
}

a button {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color:#044C29;
}

/* activiteiten */

.mustDo {
  padding-top:50px;
  padding-bottom:50px;
  clear:both;
  background-color:#f9f9f9;
}

.mustDoWhite {
  padding-top:50px;
  padding-bottom:50px;
  clear:both;
  background-color:#fff;
}

.mustDoLeft {
  float:left;
  width:55%;
  margin-right:5%;
}

.mustDoRight {
  float:left;
  width:40%;
}

.mustDoLeftImg {
  float:left;
  width:40%;
  margin-right:5%;

}
.mustDoRightText {
  float:left;
  width:55%;
}

footer {
  background-color:#044c29;
  padding:10px;
}




/* activity page */

#intro-text {
  margin-top:25px;
}

#activities {
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

.tile {
  width: 27%;
  position: relative;
  float: left;
  border:1px solid #f1f1f1;
  padding:2%;
  background-color:#f9f9f9;
  margin-right:2%;
  box-shadow: 0 1px 5px #999999;
}

.image-title {
  position:relative; 
  font-size: .9em;
  text-align: center;
}

.read-more {
  text-align: center;
  margin-top:20px;
}


#route-map {
  position:relative;
}

.spot-auckland {
  left: 345px;
  position: absolute;
  top: 170px;
  color:#044c29;
}

.auckland-info {
  display: none;
  background-color:red;
  padding:20px;
  border-radius:20px;
}

/* Landscape phones and down */
@media (max-width: 480px) { 

  .camperInfo {
    clear:both;
    width:100%;
    text-align:center;
    margin-bottom:50px;
  }

  .camperImg {
    clear:both;
    width:100%;
    text-align:center;
  }


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .siteInfo {
    clear:both;
    width:100%;
    text-align:center;
    margin-bottom:50px;
  }

  .siteInfoLast {
    clear:both;
    width:100%;
    text-align:center;
  }


  .mustDoLeft {
    clear:both;
    width:100%;
    text-align:center;
  }

  .mustDoRight {
    clear:both;
    width:100%;
    text-align:center;
    margin-top:20px;
  }

  .mustDoRight img {
    width:80%;
  }

  .mustDoLeftImg {
    clear:both;
    width:100%;
    text-align:center;
    margin-top:20px;
  }

  .mustDoLeftImg img {
    width:80%;
  }

  .mustDoRightText {
    clear:both;
    width:100%;
    text-align:center;
    margin-top:20px;
  }


  /* tablet / mobile menu */
  .menu .toggle-nav {
    display:inline-block;
    color: #fff;
    font-size: 20px;
    padding: 20px;
  }

  /* position relative zodat het <ul> position absolute kan krijgen er binnenin */
  .menu {
    position:relative;
    display:inline-block;
  }
 
  .menu ul.active {
    display:none;
  }

  .menu ul {
    position:absolute;
    top:100%;
    left:0px;
    padding:10px 18px;
    background:#303030;
    z-index:1;
  }

  .tile {
    clear:both;
    width:90%;
    text-align:center;
  } 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) { ... }




